// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../resource';
import { isRequestOptions } from '../core';
import * as Core from '../core';

export class Call extends APIResource {
  /**
   * Retrieve an existing call by its unique identifier
   */
  getById(callId: string, options?: Core.RequestOptions): Core.APIPromise<CallGetByIDResponse> {
    return this._client.get(`/v1/call/${callId}`, options);
  }

  /**
   * Fetch all evaluation run results for a specific call.
   */
  getEvaluationRuns(
    callId: string,
    options?: Core.RequestOptions,
  ): Core.APIPromise<CallGetEvaluationRunsResponse> {
    return this._client.get(`/v1/call/${callId}/evaluation-run`, options);
  }

  /**
   * Fetch all call-level metrics for a specific call, including both
   * system-generated and custom metrics. Only returns successfully computed metrics.
   */
  getMetrics(
    callId: string,
    query?: CallGetMetricsParams,
    options?: Core.RequestOptions,
  ): Core.APIPromise<CallGetMetricsResponse>;
  getMetrics(callId: string, options?: Core.RequestOptions): Core.APIPromise<CallGetMetricsResponse>;
  getMetrics(
    callId: string,
    query: CallGetMetricsParams | Core.RequestOptions = {},
    options?: Core.RequestOptions,
  ): Core.APIPromise<CallGetMetricsResponse> {
    if (isRequestOptions(query)) {
      return this.getMetrics(callId, {}, query);
    }
    return this._client.get(`/v1/call/${callId}/metrics`, { query, ...options });
  }

  /**
   * Fetch detailed sentiment analysis results for a specific call, including
   * emotional tone, key phrases, and sentiment scores.
   */
  getSentimentRuns(
    callId: string,
    options?: Core.RequestOptions,
  ): Core.APIPromise<CallGetSentimentRunsResponse> {
    return this._client.get(`/v1/call/${callId}/sentiment-run`, options);
  }
}

export interface CallGetByIDResponse {
  /**
   * Response containing call information
   */
  data: CallGetByIDResponse.Data;
}

export namespace CallGetByIDResponse {
  /**
   * Response containing call information
   */
  export interface Data {
    /**
     * Unique identifier for the call
     */
    id: string;

    /**
     * Direction of the call (inbound or outbound)
     */
    callDirection: 'INBOUND' | 'OUTBOUND';

    /**
     * ID of the project this call belongs to
     */
    projectId: string;

    /**
     * Timestamp when the call started
     */
    startedAt: string;

    /**
     * Agent information
     */
    agents?: Array<Data.Agent> | null;

    /**
     * Timestamp when the call record was created
     */
    createdAt?: string | null;

    /**
     * Customer information
     */
    customers?: Array<Data.Customer> | null;

    /**
     * Duration of the call in milliseconds
     */
    durationMs?: number | null;

    /**
     * Timestamp when the call ended
     */
    endedAt?: string | null;

    /**
     * Status indicating how the call ended
     */
    endedStatus?:
      | 'PARTICIPANTS_DID_NOT_SPEAK'
      | 'AGENT_DID_NOT_ANSWER'
      | 'AGENT_DID_NOT_SPEAK'
      | 'AGENT_STOPPED_SPEAKING'
      | 'AGENT_ENDED_CALL'
      | 'AGENT_TRANSFERRED_CALL'
      | 'AGENT_BUSY'
      | 'AGENT_ERROR'
      | 'CUSTOMER_ENDED_CALL'
      | 'VOICE_MAIL_REACHED'
      | 'SILENCE_TIME_OUT'
      | 'PHONE_CALL_PROVIDER_CONNECTION_ERROR'
      | 'CUSTOMER_DID_NOT_ANSWER'
      | 'CUSTOMER_DID_NOT_SPEAK'
      | 'CUSTOMER_STOPPED_SPEAKING'
      | 'CUSTOMER_BUSY'
      | 'DIAL_ERROR'
      | 'MAX_DURATION_REACHED'
      | 'UNKNOWN'
      | null;

    /**
     * Pre-signed URL to the call recording (expires in 1 hour)
     */
    recordingUrl?: string | null;

    /**
     * ID of the simulation job if this call was generated by a simulation
     */
    simulationJobId?: string | null;

    /**
     * Current status of the call
     */
    status?: 'RINGING' | 'IN_PROGRESS' | 'ENDED' | null;

    /**
     * Auto-generated summary of the call conversation
     */
    summary?: string | null;

    /**
     * ID of the call that superseded this one (if applicable)
     */
    supersededByCallId?: string | null;

    /**
     * Auto-generated title for the call based on content
     */
    title?: string | null;

    /**
     * Timestamp when the call record was last updated
     */
    updatedAt?: string | null;
  }

  export namespace Data {
    export interface Agent {
      id: string;

      endpoint: Agent.Endpoint;
    }

    export namespace Agent {
      export interface Endpoint {
        id: string;

        environment: string;

        phoneNumberE164?: string | null;
      }
    }

    export interface Customer {
      phoneNumberE164?: string | null;
    }
  }
}

export interface CallGetEvaluationRunsResponse {
  /**
   * Evaluation run response payload
   */
  data: Array<CallGetEvaluationRunsResponse.Data>;
}

export namespace CallGetEvaluationRunsResponse {
  export interface Data {
    /**
     * All block runs for this evaluator, including skipped ones
     */
    blockRuns: Array<Data.BlockRun>;

    evaluator: Data.Evaluator;

    evidence: Array<Data.Evidence>;

    metrics: Array<Data.Metric>;

    /**
     * Status of the evaluator run
     */
    status: 'PENDING' | 'IN_PROGRESS' | 'COMPLETED' | 'FAILED';

    /**
     * ID of the evaluator run
     */
    id?: string;

    /**
     * When the evaluator run completed
     */
    completedAt?: string | null;

    /**
     * Result of the evaluator run based on score threshold (IRRELEVANT is mapped to
     * SKIPPED)
     */
    result?: 'SUCCESS' | 'FAILURE' | 'SKIPPED' | null;

    /**
     * Score of the evaluation run (0-1)
     */
    score?: number | null;

    /**
     * When the evaluator run started
     */
    startedAt?: string | null;

    /**
     * Summary of the evaluation run
     */
    summary?: string | null;
  }

  export namespace Data {
    export interface BlockRun {
      /**
       * ID of the block definition
       */
      blockDefinitionId: string;

      /**
       * Name of the evaluation block
       */
      blockName: string;

      /**
       * ID of the block run instance
       */
      blockRunId: string;

      /**
       * When the block run was created
       */
      createdAt: string;

      /**
       * Reason for the outcome (pass/fail explanation or skip reason)
       */
      reason: string | null;

      /**
       * Result of the block run
       */
      result: 'PASSED' | 'FAILED' | 'SKIPPED' | null;

      /**
       * Score of the block run (0-1)
       */
      score: number | null;

      /**
       * Status of the block run
       */
      status: 'PENDING' | 'RUNNING' | 'COMPLETED' | 'FAILED';
    }

    export interface Evaluator {
      /**
       * ID of the evaluator
       */
      id: string;

      /**
       * Name of the evaluator
       */
      name: string;

      /**
       * Weight of the evaluator
       */
      weight?: number;
    }

    export interface Evidence {
      /**
       * Comment text of the evidence
       */
      commentText: string | null;

      /**
       * Created at of the evidence
       */
      createdAt: string;

      /**
       * Is positive of the evidence
       */
      isPositive: boolean;

      /**
       * Snippet text of the evidence
       */
      snippetText: string;
    }

    export interface Metric {
      /**
       * Boolean value of the metric
       */
      booleanValue: boolean | null;

      /**
       * Confidence level of the metric (0-1)
       */
      confidence: number | null;

      /**
       * Created at of the metric
       */
      createdAt: string;

      /**
       * Name of the metric
       */
      name: string;

      /**
       * Numeric value of the metric
       */
      numericValue: number | null;

      /**
       * Reasoning of the metric
       */
      reasoning: string | null;

      /**
       * Role of the metric
       */
      role: string;

      /**
       * Text value of the metric
       */
      textValue: string | null;

      /**
       * Value type of the metric
       */
      valueType: string;
    }
  }
}

export interface CallGetMetricsResponse {
  /**
   * Call metrics response payload grouped by metric definition
   */
  data: Array<CallGetMetricsResponse.Data>;
}

export namespace CallGetMetricsResponse {
  /**
   * Call metric data grouped by metric definition
   */
  export interface Data {
    /**
     * Description of what the metric measures
     */
    description: string;

    /**
     * Unique identifier for the metric definition
     */
    metricDefinitionId: string;

    /**
     * Stable metric identifier
     */
    metricId: string;

    /**
     * Name of the metric
     */
    name: string;

    /**
     * Whether metric is global or per-participant
     */
    scope: 'GLOBAL' | 'PER_PARTICIPANT';

    /**
     * Type of value this metric produces
     */
    type: 'COUNT' | 'NUMERIC' | 'BOOLEAN' | 'SCALE' | 'TEXT' | 'CLASSIFICATION' | 'OFFSET';

    /**
     * Array of metric values (multiple for PER_PARTICIPANT metrics, or multiple
     * segments/turns)
     */
    values: Array<Data.Value>;

    /**
     * Unit information if applicable
     */
    unit?: Data.Unit;
  }

  export namespace Data {
    export interface Value {
      /**
       * ISO 8601 timestamp when the metric was computed
       */
      computedAt: string;

      /**
       * Confidence score (0-1) for the computed value. Defaults to 1.0 for deterministic
       * metrics.
       */
      confidence: number;

      /**
       * Context level: CALL (entire call), SEGMENT (single segment), SEGMENT_RANGE
       * (between/across segments)
       */
      context: 'CALL' | 'SEGMENT' | 'SEGMENT_RANGE';

      /**
       * The metric value (type depends on outputType)
       */
      value: number | boolean | string;

      /**
       * Starting segment information (for SEGMENT_RANGE context metrics)
       */
      fromSegment?: Value.FromSegment;

      /**
       * Role of participant (only for PER_PARTICIPANT metrics)
       */
      participantRole?: 'agent' | 'customer';

      /**
       * Segment information (for SEGMENT context metrics)
       */
      segment?: Value.Segment;

      /**
       * Ending segment information (for SEGMENT_RANGE context metrics)
       */
      toSegment?: Value.ToSegment;

      /**
       * Explanation for the metric value (especially useful for AI-computed metrics)
       */
      valueReasoning?: string;
    }

    export namespace Value {
      /**
       * Starting segment information (for SEGMENT_RANGE context metrics)
       */
      export interface FromSegment {
        /**
         * Starting segment ID
         */
        id: string;

        /**
         * End time offset in milliseconds
         */
        endOffsetMs: number;

        /**
         * Start time offset in milliseconds
         */
        startOffsetMs: number;

        /**
         * Starting segment text content
         */
        text: string;
      }

      /**
       * Segment information (for SEGMENT context metrics)
       */
      export interface Segment {
        /**
         * Segment ID
         */
        id: string;

        /**
         * End time offset in milliseconds
         */
        endOffsetMs: number;

        /**
         * Start time offset in milliseconds
         */
        startOffsetMs: number;

        /**
         * Segment text content
         */
        text: string;
      }

      /**
       * Ending segment information (for SEGMENT_RANGE context metrics)
       */
      export interface ToSegment {
        /**
         * Ending segment ID
         */
        id: string;

        /**
         * End time offset in milliseconds
         */
        endOffsetMs: number;

        /**
         * Start time offset in milliseconds
         */
        startOffsetMs: number;

        /**
         * Ending segment text content
         */
        text: string;
      }
    }

    /**
     * Unit information if applicable
     */
    export interface Unit {
      /**
       * Name of the unit
       */
      name: string;

      /**
       * Symbol for the unit
       */
      symbol: string | null;
    }
  }
}

export interface CallGetSentimentRunsResponse {
  /**
   * Sentiment run response payload
   */
  data: CallGetSentimentRunsResponse.Data;
}

export namespace CallGetSentimentRunsResponse {
  /**
   * Sentiment run response payload
   */
  export interface Data {
    /**
     * Status of the sentiment run
     */
    status: string;

    /**
     * NEUTRAL / NEGATIVE / POSITIVE
     */
    averageCategoricalSentiment?: string;

    /**
     * Average sentiment score between 0-1 of the call
     */
    averageSentiment?: number;

    /**
     * Common emotion of the call
     */
    commonEmotion?: string;
  }
}

export interface CallGetMetricsParams {
  /**
   * Whether to return a flat list instead of grouped by metric definition (default:
   * false)
   */
  flatten?: string;
}

export declare namespace Call {
  export {
    type CallGetByIDResponse as CallGetByIDResponse,
    type CallGetEvaluationRunsResponse as CallGetEvaluationRunsResponse,
    type CallGetMetricsResponse as CallGetMetricsResponse,
    type CallGetSentimentRunsResponse as CallGetSentimentRunsResponse,
    type CallGetMetricsParams as CallGetMetricsParams,
  };
}
