// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../core/resource';
import { APIPromise } from '../core/api-promise';
import { RequestOptions } from '../internal/request-options';
import { path } from '../internal/utils/path';

export class Chat extends APIResource {
  /**
   * Create a new chat with segments (messages and tool invocations)
   */
  create(body: ChatCreateParams, options?: RequestOptions): APIPromise<ChatCreateResponse> {
    return this._client.post('/v1/chat', { body, ...options });
  }

  /**
   * Returns a paginated list of chats for the authenticated project.
   */
  list(
    query: ChatListParams | null | undefined = {},
    options?: RequestOptions,
  ): APIPromise<ChatListResponse> {
    return this._client.get('/v1/chat', { query, ...options });
  }

  /**
   * Retrieve an existing chat by its unique identifier
   */
  getByID(id: string, options?: RequestOptions): APIPromise<ChatGetByIDResponse> {
    return this._client.get(path`/v1/chat/${id}`, options);
  }

  /**
   * Fetch the full transcript (messages) for a specific chat.
   */
  getTranscript(id: string, options?: RequestOptions): APIPromise<ChatGetTranscriptResponse> {
    return this._client.get(path`/v1/chat/${id}/transcript`, options);
  }

  /**
   * Fetch all metrics for a specific chat, including both system-generated and
   * custom metrics. Only returns rows from the **latest** metric-collection job per
   * metric — if the same metric has been recomputed, prior runs are excluded and
   * remain in the metric history. By default returns only successfully computed
   * metrics; pass `?status=all` to also include rows that resolved as NOT_APPLICABLE
   * / DATA_MISSING / ERROR (the `value` field is omitted on those entries — check
   * `captureStatus`).
   */
  listMetrics(
    id: string,
    query: ChatListMetricsParams | null | undefined = {},
    options?: RequestOptions,
  ): APIPromise<ChatListMetricsResponse> {
    return this._client.get(path`/v1/chat/${id}/metrics`, { query, ...options });
  }
}

export interface ChatCreateResponse {
  /**
   * Response containing the chat information
   */
  data: ChatCreateResponse.Data;
}

export namespace ChatCreateResponse {
  /**
   * Response containing the chat information
   */
  export interface Data {
    /**
     * Unique identifier for the chat
     */
    id: string;

    /**
     * Duration of the chat in milliseconds
     */
    durationMs: number;

    /**
     * Timestamp when the chat ended
     */
    endTimestamp: string;

    /**
     * ID of the organization this chat belongs to
     */
    organizationId: string;

    /**
     * ID of the project this chat belongs to
     */
    projectId: string;

    /**
     * Timestamp when the chat started
     */
    startTimestamp: string;

    /**
     * Agent information
     */
    agents?: Array<Data.Agent> | null;

    /**
     * Timestamp when the chat record was created
     */
    createdAt?: string | null;

    /**
     * Customer information
     */
    customers?: Array<Data.Customer> | null;

    /**
     * Caller-supplied correlation ID echoed back from the create request, if any was
     * provided
     */
    externalId?: string | null;

    /**
     * IDs of metric policies that have been applied to this chat
     */
    policyIds?: Array<string> | null;

    /**
     * Custom properties associated with the chat
     */
    properties?: { [key: string]: unknown } | null;

    /**
     * ID of the simulation job if this chat was generated by a simulation
     */
    simulationJobId?: string | null;

    /**
     * ID of the simulation run plan job that this chat belongs to (if applicable)
     */
    simulationRunPlanJobId?: string | null;

    /**
     * Auto-generated summary of the chat conversation
     */
    summary?: string | null;

    /**
     * Auto-generated title for the chat based on content
     */
    title?: string | null;

    /**
     * Timestamp when the chat record was last updated
     */
    updatedAt?: string | null;
  }

  export namespace Data {
    export interface Agent {
      id: string;
    }

    export interface Customer {
      label?: string | null;

      phoneNumberE164?: string | null;
    }
  }
}

export interface ChatListResponse {
  data: Array<ChatListResponse.Data>;

  pagination: ChatListResponse.Pagination;
}

export namespace ChatListResponse {
  /**
   * Response containing the chat information
   */
  export interface Data {
    /**
     * Unique identifier for the chat
     */
    id: string;

    /**
     * Duration of the chat in milliseconds
     */
    durationMs: number;

    /**
     * Timestamp when the chat ended
     */
    endTimestamp: string;

    /**
     * ID of the organization this chat belongs to
     */
    organizationId: string;

    /**
     * ID of the project this chat belongs to
     */
    projectId: string;

    /**
     * Timestamp when the chat started
     */
    startTimestamp: string;

    /**
     * Agent information
     */
    agents?: Array<Data.Agent> | null;

    /**
     * Timestamp when the chat record was created
     */
    createdAt?: string | null;

    /**
     * Customer information
     */
    customers?: Array<Data.Customer> | null;

    /**
     * Caller-supplied correlation ID echoed back from the create request, if any was
     * provided
     */
    externalId?: string | null;

    /**
     * IDs of metric policies that have been applied to this chat
     */
    policyIds?: Array<string> | null;

    /**
     * Custom properties associated with the chat
     */
    properties?: { [key: string]: unknown } | null;

    /**
     * ID of the simulation job if this chat was generated by a simulation
     */
    simulationJobId?: string | null;

    /**
     * ID of the simulation run plan job that this chat belongs to (if applicable)
     */
    simulationRunPlanJobId?: string | null;

    /**
     * Auto-generated summary of the chat conversation
     */
    summary?: string | null;

    /**
     * Auto-generated title for the chat based on content
     */
    title?: string | null;

    /**
     * Timestamp when the chat record was last updated
     */
    updatedAt?: string | null;
  }

  export namespace Data {
    export interface Agent {
      id: string;
    }

    export interface Customer {
      label?: string | null;

      phoneNumberE164?: string | null;
    }
  }

  export interface Pagination {
    /**
     * Whether there are more items to fetch
     */
    hasMore: boolean;

    /**
     * Cursor for the next page of items
     */
    nextCursor: string | null;

    /**
     * Total number of items
     */
    total: number;
  }
}

export interface ChatGetByIDResponse {
  /**
   * Response containing the chat information
   */
  data: ChatGetByIDResponse.Data;
}

export namespace ChatGetByIDResponse {
  /**
   * Response containing the chat information
   */
  export interface Data {
    /**
     * Unique identifier for the chat
     */
    id: string;

    /**
     * Duration of the chat in milliseconds
     */
    durationMs: number;

    /**
     * Timestamp when the chat ended
     */
    endTimestamp: string;

    /**
     * ID of the organization this chat belongs to
     */
    organizationId: string;

    /**
     * ID of the project this chat belongs to
     */
    projectId: string;

    /**
     * Timestamp when the chat started
     */
    startTimestamp: string;

    /**
     * Agent information
     */
    agents?: Array<Data.Agent> | null;

    /**
     * Timestamp when the chat record was created
     */
    createdAt?: string | null;

    /**
     * Customer information
     */
    customers?: Array<Data.Customer> | null;

    /**
     * Caller-supplied correlation ID echoed back from the create request, if any was
     * provided
     */
    externalId?: string | null;

    /**
     * IDs of metric policies that have been applied to this chat
     */
    policyIds?: Array<string> | null;

    /**
     * Custom properties associated with the chat
     */
    properties?: { [key: string]: unknown } | null;

    /**
     * ID of the simulation job if this chat was generated by a simulation
     */
    simulationJobId?: string | null;

    /**
     * ID of the simulation run plan job that this chat belongs to (if applicable)
     */
    simulationRunPlanJobId?: string | null;

    /**
     * Auto-generated summary of the chat conversation
     */
    summary?: string | null;

    /**
     * Auto-generated title for the chat based on content
     */
    title?: string | null;

    /**
     * Timestamp when the chat record was last updated
     */
    updatedAt?: string | null;
  }

  export namespace Data {
    export interface Agent {
      id: string;
    }

    export interface Customer {
      label?: string | null;

      phoneNumberE164?: string | null;
    }
  }
}

export interface ChatGetTranscriptResponse {
  /**
   * Chat transcript response
   */
  data: ChatGetTranscriptResponse.Data;
}

export namespace ChatGetTranscriptResponse {
  /**
   * Chat transcript response
   */
  export interface Data {
    /**
     * Ordered list of transcript entries from the chat
     */
    entries: Array<Data.Entry>;

    /**
     * All participants in this transcript, referenced by participantId on each entry
     */
    participants: Array<Data.UnionMember0 | Data.UnionMember1 | Data.UnionMember2 | Data.UnionMember3>;
  }

  export namespace Data {
    /**
     * A single transcript entry
     */
    export interface Entry {
      /**
       * End time offset in milliseconds from the start of the conversation
       */
      endOffsetMs: number;

      /**
       * ID of the conversation participant who produced this entry. References
       * participants[].id.
       */
      participantId: string | null;

      /**
       * Convenience role derived from participant type
       */
      role: 'AGENT' | 'CUSTOMER' | null;

      /**
       * Start time offset in milliseconds from the start of the conversation
       */
      startOffsetMs: number;

      /**
       * Transcript text for this entry
       */
      text: string;
    }

    /**
     * An agent participant
     */
    export interface UnionMember0 {
      /**
       * Conversation participant ID
       */
      id: string;

      /**
       * ID of the agent entity
       */
      agentId: string | null;

      type: 'AGENT';
    }

    /**
     * A customer participant
     */
    export interface UnionMember1 {
      /**
       * Conversation participant ID
       */
      id: string;

      /**
       * ID of the conversation customer record
       */
      customerId: string | null;

      type: 'CUSTOMER';
    }

    /**
     * A simulated customer participant
     */
    export interface UnionMember2 {
      /**
       * Conversation participant ID
       */
      id: string;

      /**
       * ID of the conversation customer record
       */
      customerId: string | null;

      type: 'SIMULATED_CUSTOMER';
    }

    /**
     * A background speaker participant
     */
    export interface UnionMember3 {
      /**
       * Conversation participant ID
       */
      id: string;

      type: 'BACKGROUND_SPEAKER';
    }
  }
}

export interface ChatListMetricsResponse {
  /**
   * Conversation metrics response payload grouped by metric definition
   */
  data: Array<ChatListMetricsResponse.Data>;
}

export namespace ChatListMetricsResponse {
  /**
   * Metric data grouped by metric definition
   */
  export interface Data {
    /**
     * Description of what the metric measures
     */
    description: string;

    /**
     * Unique identifier for the metric definition
     */
    metricDefinitionId: string;

    /**
     * Alias of `slug` retained for backwards compatibility. Same value as `slug`.
     */
    metricId: string;

    /**
     * Name of the metric
     */
    name: string;

    /**
     * Whether metric is global or per-participant
     */
    scope: 'GLOBAL' | 'PER_PARTICIPANT';

    /**
     * Stable metric slug
     */
    slug: string;

    /**
     * Type of value this metric produces
     */
    type: 'COUNT' | 'NUMERIC' | 'BOOLEAN' | 'SCALE' | 'TEXT' | 'CLASSIFICATION' | 'OFFSET';

    /**
     * Array of metric values (multiple for PER_PARTICIPANT metrics, or multiple
     * segments/turns)
     */
    values: Array<Data.Value>;

    /**
     * Unit information if applicable
     */
    unit?: Data.Unit;
  }

  export namespace Data {
    export interface Value {
      /**
       * Result state of this metric computation. SUCCESS carries a real `value`;
       * NOT_APPLICABLE / DATA_MISSING / ERROR do not (the `value` field is omitted).
       * Non-SUCCESS rows only appear when the request includes ?status=all.
       */
      captureStatus: 'SUCCESS' | 'NOT_APPLICABLE' | 'DATA_MISSING' | 'ERROR';

      /**
       * ISO 8601 timestamp when the metric was computed
       */
      computedAt: string;

      /**
       * Context level: CALL (entire conversation), SEGMENT (single segment),
       * SEGMENT_RANGE (between/across segments)
       */
      context: 'CALL' | 'SEGMENT' | 'SEGMENT_RANGE';

      /**
       * ID of the call this value was computed on. Only set when the response spans
       * multiple conversations (e.g. job-scoped metric values).
       */
      callId?: string;

      /**
       * ID of the chat this value was computed on. Only set when the response spans
       * multiple conversations (e.g. job-scoped metric values).
       */
      chatId?: string;

      /**
       * Confidence score (0-1) for the computed value. Defaults to 1.0 for deterministic
       * metrics. Omitted on non-SUCCESS rows.
       */
      confidence?: number;

      /**
       * Error detail when captureStatus is ERROR — e.g. provider down, LLM timeout.
       * Undefined for other statuses.
       */
      errorMessage?: string;

      /**
       * Starting segment information (for SEGMENT_RANGE context metrics)
       */
      fromSegment?: Value.FromSegment;

      /**
       * Role of participant (only for PER_PARTICIPANT metrics)
       */
      participantRole?: 'agent' | 'customer';

      /**
       * IDs of metric policies that triggered this metric computation
       */
      policyIds?: Array<string>;

      /**
       * Segment information (for SEGMENT context metrics)
       */
      segment?: Value.Segment;

      /**
       * Ending segment information (for SEGMENT_RANGE context metrics)
       */
      toSegment?: Value.ToSegment;

      /**
       * The metric value (type depends on outputType). Present only on SUCCESS rows;
       * omitted for NOT_APPLICABLE / DATA_MISSING / ERROR.
       */
      value?: number | boolean | string;

      /**
       * Explanation for the metric value (especially useful for AI-computed metrics)
       */
      valueReasoning?: string;
    }

    export namespace Value {
      /**
       * Starting segment information (for SEGMENT_RANGE context metrics)
       */
      export interface FromSegment {
        /**
         * Segment ID
         */
        id: string;

        /**
         * End time offset in milliseconds
         */
        endOffsetMs: number;

        /**
         * Start time offset in milliseconds
         */
        startOffsetMs: number;

        /**
         * Segment text content
         */
        text: string;
      }

      /**
       * Segment information (for SEGMENT context metrics)
       */
      export interface Segment {
        /**
         * Segment ID
         */
        id: string;

        /**
         * End time offset in milliseconds
         */
        endOffsetMs: number;

        /**
         * Start time offset in milliseconds
         */
        startOffsetMs: number;

        /**
         * Segment text content
         */
        text: string;
      }

      /**
       * Ending segment information (for SEGMENT_RANGE context metrics)
       */
      export interface ToSegment {
        /**
         * Segment ID
         */
        id: string;

        /**
         * End time offset in milliseconds
         */
        endOffsetMs: number;

        /**
         * Start time offset in milliseconds
         */
        startOffsetMs: number;

        /**
         * Segment text content
         */
        text: string;
      }
    }

    /**
     * Unit information if applicable
     */
    export interface Unit {
      /**
       * Name of the unit
       */
      name: string;

      /**
       * Symbol for the unit
       */
      symbol: string | null;
    }
  }
}

export interface ChatCreateParams {
  /**
   * When the chat ended (ISO 8601 format)
   */
  endTimestamp: string;

  /**
   * Ordered list of messages exchanged during the chat
   */
  messages: Array<ChatCreateParams.ChatMessageAgent | ChatCreateParams.ChatMessageCustomer>;

  /**
   * When the chat started (ISO 8601 format)
   */
  startTimestamp: string;

  /**
   * Single agent participating in the chat. Use this for the simpler API when you
   * have only one agent.
   */
  agent?:
    | ChatCreateParams.ChatAgentIdentificationByRoarkID
    | ChatCreateParams.ChatAgentIdentificationByName
    | ChatCreateParams.ChatAgentIdentificationByCustomID;

  /**
   * Agents participating in the chat. Each agent requires identification and prompt
   * information.
   */
  agents?: Array<
    | ChatCreateParams.ChatAgentIdentificationByRoarkID
    | ChatCreateParams.ChatAgentIdentificationByName
    | ChatCreateParams.ChatAgentIdentificationByCustomID
  >;

  /**
   * Single customer participating in the chat. Use this for the simpler API when you
   * have only one customer.
   */
  customer?: ChatCreateParams.Customer;

  /**
   * Customers participating in the chat.
   */
  customers?: Array<ChatCreateParams.Customer>;

  /**
   * A stable identifier from your own system (e.g. session ID, conversation ID) used
   * to correlate this chat with OpenTelemetry traces. Set the same value as a
   * `roark.external_id` span or resource attribute on your traces and the matching
   * trace will be linked automatically. Must be unique within a project.
   */
  externalId?: string;

  /**
   * Custom properties to include with the chat. These can be used for filtering and
   * will show in the chat details page
   */
  properties?: { [key: string]: unknown };

  /**
   * List of tool invocations made during the chat
   */
  toolInvocations?: Array<ChatCreateParams.ToolInvocation>;

  /**
   * Optional OpenTelemetry trace ID for the chat. Surfaces the chat in the tracing
   * tab.
   */
  traceId?: string | null;
}

export namespace ChatCreateParams {
  export interface ChatMessageAgent {
    /**
     * The agent sent this message
     */
    role: 'AGENT';

    /**
     * When the message was sent (ISO 8601). Must fall within the chat time range.
     */
    startTimestamp: string;

    /**
     * Message content
     */
    text: string;

    /**
     * Metadata about the agent that sent this message - used to match which agent from
     * the agents array this message belongs to
     */
    agent?: ChatMessageAgent.Agent;

    /**
     * When the message finished sending (ISO 8601). For instant messages, can equal
     * startTimestamp.
     */
    endTimestamp?: string;

    /**
     * ISO language code (e.g., "en")
     */
    languageCode?: string;
  }

  export namespace ChatMessageAgent {
    /**
     * Metadata about the agent that sent this message - used to match which agent from
     * the agents array this message belongs to
     */
    export interface Agent {
      /**
       * The custom ID set on the agent
       */
      customId?: string;

      /**
       * The Roark ID of the agent
       */
      roarkId?: string;
    }
  }

  export interface ChatMessageCustomer {
    /**
     * The customer sent this message
     */
    role: 'CUSTOMER';

    /**
     * When the message was sent (ISO 8601). Must fall within the chat time range.
     */
    startTimestamp: string;

    /**
     * Message content
     */
    text: string;

    /**
     * Metadata about the customer that sent this message - used to match which
     * customer from the customers array this message belongs to
     */
    customer?: ChatMessageCustomer.Customer;

    /**
     * When the message finished sending (ISO 8601). For instant messages, can equal
     * startTimestamp.
     */
    endTimestamp?: string;

    /**
     * ISO language code (e.g., "en")
     */
    languageCode?: string;
  }

  export namespace ChatMessageCustomer {
    /**
     * Metadata about the customer that sent this message - used to match which
     * customer from the customers array this message belongs to
     */
    export interface Customer {
      /**
       * Customer label
       */
      label?: string;

      /**
       * Customer phone number in E.164 format
       */
      phoneNumberE164?: string;
    }
  }

  export interface ChatAgentIdentificationByRoarkID {
    /**
     * Existing Roark agent ID
     */
    roarkId: string;

    /**
     * Agent's prompt configuration (optional)
     */
    prompt?: ChatAgentIdentificationByRoarkID.Prompt;
  }

  export namespace ChatAgentIdentificationByRoarkID {
    /**
     * Agent's prompt configuration (optional)
     */
    export interface Prompt {
      /**
       * The agent's system prompt used during this chat
       */
      resolvedPrompt: string;
    }
  }

  /**
   * Find existing by customId if provided, otherwise reuse exact project name match
   * before creating
   */
  export interface ChatAgentIdentificationByName {
    /**
     * Agent name
     */
    name: string;

    /**
     * Agent custom ID
     */
    customId?: string;

    /**
     * Agent description
     */
    description?: string;

    /**
     * Agent's prompt configuration (optional)
     */
    prompt?: ChatAgentIdentificationByName.Prompt;
  }

  export namespace ChatAgentIdentificationByName {
    /**
     * Agent's prompt configuration (optional)
     */
    export interface Prompt {
      /**
       * The agent's system prompt used during this chat
       */
      resolvedPrompt: string;
    }
  }

  export interface ChatAgentIdentificationByCustomID {
    /**
     * Existing custom ID for a Roark agent
     */
    customId: string;

    /**
     * Agent's prompt configuration (optional)
     */
    prompt?: ChatAgentIdentificationByCustomID.Prompt;
  }

  export namespace ChatAgentIdentificationByCustomID {
    /**
     * Agent's prompt configuration (optional)
     */
    export interface Prompt {
      /**
       * The agent's system prompt used during this chat
       */
      resolvedPrompt: string;
    }
  }

  /**
   * Single customer participating in the chat. Use this for the simpler API when you
   * have only one customer.
   */
  export interface Customer {
    /**
     * Customer phone number in E.164 format (e.g., +14155551234), optional for chat
     * customers
     */
    phoneNumberE164: string | null;

    /**
     * Label to identify this customer in the chat (e.g., "user-01",
     * "anonymous-visitor")
     */
    label?: string | null;
  }

  export interface ToolInvocation {
    /**
     * Name of the tool that was invoked
     */
    name: string;

    /**
     * Parameters provided to the tool during invocation
     */
    parameters: { [key: string]: ToolInvocation.UnionMember0 | unknown };

    /**
     * Result returned by the tool after execution. Can be a string or a JSON object
     */
    result: string | { [key: string]: unknown };

    /**
     * When the tool was invoked (ISO 8601). Must fall within the chat time range.
     */
    startTimestamp: string;

    /**
     * Metadata about the agent that invoked this tool - used to match which agent from
     * the agents array this tool invocation belongs to
     */
    agent?: ToolInvocation.Agent;

    /**
     * Description of when the tool should be invoked
     */
    description?: string;

    /**
     * When the tool execution completed (ISO 8601). Used to calculate duration of the
     * tool execution.
     */
    endTimestamp?: string;
  }

  export namespace ToolInvocation {
    export interface UnionMember0 {
      description?: string;

      type?: 'string' | 'number' | 'boolean';

      value?: unknown;
    }

    /**
     * Metadata about the agent that invoked this tool - used to match which agent from
     * the agents array this tool invocation belongs to
     */
    export interface Agent {
      /**
       * The custom ID set on the agent
       */
      customId?: string;

      /**
       * The Roark ID of the agent
       */
      roarkId?: string;
    }
  }
}

export interface ChatListParams {
  /**
   * Cursor for pagination - use the nextCursor value from a previous response
   */
  after?: string;

  /**
   * Maximum number of chats to return (default: 20, max: 100)
   */
  limit?: number;

  /**
   * Search text to filter chats by id, title, summary, message text, or note content
   */
  searchText?: string;

  /**
   * Filter by simulation run plan job ID to get all chats from a specific simulation
   * batch
   */
  simulationRunPlanJobId?: string;

  /**
   * Field to sort by (default: createdAt)
   */
  sortBy?: 'createdAt' | 'startTimestamp' | 'endTimestamp' | 'duration' | 'title';

  /**
   * Sort direction (default: desc)
   */
  sortDirection?: 'asc' | 'desc';
}

export interface ChatListMetricsParams {
  /**
   * Whether to return a flat list instead of grouped by metric definition (default:
   * false)
   */
  flatten?: string;

  /**
   * Filter metrics by capture status. `success` (default) returns only successfully
   * computed metrics — backwards-compatible with the historical behavior. `all` also
   * returns NOT_APPLICABLE / DATA_MISSING / ERROR rows (with `value` omitted), so
   * clients can distinguish "still computing" from "computed but no value" and exit
   * retry loops correctly.
   */
  status?: 'success' | 'all';
}

export declare namespace Chat {
  export {
    type ChatCreateResponse as ChatCreateResponse,
    type ChatListResponse as ChatListResponse,
    type ChatGetByIDResponse as ChatGetByIDResponse,
    type ChatGetTranscriptResponse as ChatGetTranscriptResponse,
    type ChatListMetricsResponse as ChatListMetricsResponse,
    type ChatCreateParams as ChatCreateParams,
    type ChatListParams as ChatListParams,
    type ChatListMetricsParams as ChatListMetricsParams,
  };
}
