// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../core/resource';
import { APIPromise } from '../core/api-promise';
import { RequestOptions } from '../internal/request-options';
import { path } from '../internal/utils/path';

export class SimulationCustomerFlowVariant extends APIResource {
  /**
   * Adds a variant to an UNSCRIPTED flow.
   *
   * A scripted flow's variants are owned by the path engine, one per path through
   * the graph, so they are created by editing the graph through PUT
   * /v1/simulation/customer-flow/{flowId}/steps rather than here.
   *
   * Leave personaId or environmentId unset to inherit the default variant's.
   */
  create(
    flowID: string,
    body: SimulationCustomerFlowVariantCreateParams,
    options?: RequestOptions,
  ): APIPromise<SimulationCustomerFlowVariantCreateResponse> {
    return this._client.post(path`/v1/simulation/customer-flow/${flowID}/variant`, { body, ...options });
  }

  /**
   * Updates a variant's title, persona, environment, brief, preceded-by link or
   * expectations. Omitted fields are left alone; `additionalExpectations` replaces
   * the set wholesale rather than appending. Making it the flow's default is a
   * separate call, since that also demotes the current default.
   */
  update(
    variantID: string,
    params: SimulationCustomerFlowVariantUpdateParams,
    options?: RequestOptions,
  ): APIPromise<SimulationCustomerFlowVariantUpdateResponse> {
    const { flowId, ...body } = params;
    return this._client.put(path`/v1/simulation/customer-flow/${flowId}/variant/${variantID}`, {
      body,
      ...options,
    });
  }

  /**
   * Returns every variant of a customer flow with its additional expectations. Not
   * paginated: a flow's variants are bounded by its paths.
   */
  list(flowID: string, options?: RequestOptions): APIPromise<SimulationCustomerFlowVariantListResponse> {
    return this._client.get(path`/v1/simulation/customer-flow/${flowID}/variant`, options);
  }

  /**
   * Soft-deletes a variant. On a scripted flow the path engine re-creates a variant
   * for any path still in the graph, so remove the path through PUT /steps instead
   * if that is what you meant.
   */
  delete(
    variantID: string,
    params: SimulationCustomerFlowVariantDeleteParams,
    options?: RequestOptions,
  ): APIPromise<SimulationCustomerFlowVariantDeleteResponse> {
    const { flowId } = params;
    return this._client.delete(path`/v1/simulation/customer-flow/${flowId}/variant/${variantID}`, options);
  }

  /**
   * Get a flow variant
   */
  getByID(
    variantID: string,
    params: SimulationCustomerFlowVariantGetByIDParams,
    options?: RequestOptions,
  ): APIPromise<SimulationCustomerFlowVariantGetByIDResponse> {
    const { flowId } = params;
    return this._client.get(path`/v1/simulation/customer-flow/${flowId}/variant/${variantID}`, options);
  }

  /**
   * Promotes a variant to the flow's default, demoting the current one. The outgoing
   * default's persona and environment are baked into it first, so variants that were
   * inheriting keep the configuration they had.
   */
  setDefault(
    variantID: string,
    params: SimulationCustomerFlowVariantSetDefaultParams,
    options?: RequestOptions,
  ): APIPromise<SimulationCustomerFlowVariantSetDefaultResponse> {
    const { flowId } = params;
    return this._client.post(
      path`/v1/simulation/customer-flow/${flowId}/variant/${variantID}/default`,
      options,
    );
  }
}

export interface SimulationCustomerFlowVariantCreateResponse {
  /**
   * One way of running a flow. Exactly one variant per flow is the default; the
   * others inherit its persona and environment wherever they leave those unset. On a
   * scripted flow each variant is bound to one path through the graph and the path
   * engine owns that binding.
   */
  data: SimulationCustomerFlowVariantCreateResponse.Data;
}

export namespace SimulationCustomerFlowVariantCreateResponse {
  /**
   * One way of running a flow. Exactly one variant per flow is the default; the
   * others inherit its persona and environment wherever they leave those unset. On a
   * scripted flow each variant is bound to one path through the graph and the path
   * engine owns that binding.
   */
  export interface Data {
    id: string;

    additionalExpectations: Array<Data.AdditionalExpectation>;

    /**
     * Creation timestamp in ISO 8601 format
     */
    createdAt: string;

    customerFlowId: string;

    environmentId: string | null;

    isAutoGeneratedTitle: boolean;

    isDefault: boolean;

    isGenerated: boolean;

    latestPathId: string | null;

    personaId: string | null;

    precededByCustomerFlowId: string | null;

    precededByCustomerFlowVariantId: string | null;

    title: string;

    /**
     * Last update timestamp in ISO 8601 format
     */
    updatedAt: string;

    prompt?: string | null;
  }

  export namespace Data {
    /**
     * An expectation the agent under test is graded against. On a scripted flow these
     * are derived from the agent turns in the graph, so they are read-only there.
     */
    export interface AdditionalExpectation {
      id: string;

      llmPrompt: string;

      orderIndex: number;

      sourceStepNodeId: string | null;
    }
  }
}

export interface SimulationCustomerFlowVariantUpdateResponse {
  /**
   * One way of running a flow. Exactly one variant per flow is the default; the
   * others inherit its persona and environment wherever they leave those unset. On a
   * scripted flow each variant is bound to one path through the graph and the path
   * engine owns that binding.
   */
  data: SimulationCustomerFlowVariantUpdateResponse.Data;
}

export namespace SimulationCustomerFlowVariantUpdateResponse {
  /**
   * One way of running a flow. Exactly one variant per flow is the default; the
   * others inherit its persona and environment wherever they leave those unset. On a
   * scripted flow each variant is bound to one path through the graph and the path
   * engine owns that binding.
   */
  export interface Data {
    id: string;

    additionalExpectations: Array<Data.AdditionalExpectation>;

    /**
     * Creation timestamp in ISO 8601 format
     */
    createdAt: string;

    customerFlowId: string;

    environmentId: string | null;

    isAutoGeneratedTitle: boolean;

    isDefault: boolean;

    isGenerated: boolean;

    latestPathId: string | null;

    personaId: string | null;

    precededByCustomerFlowId: string | null;

    precededByCustomerFlowVariantId: string | null;

    title: string;

    /**
     * Last update timestamp in ISO 8601 format
     */
    updatedAt: string;

    prompt?: string | null;
  }

  export namespace Data {
    /**
     * An expectation the agent under test is graded against. On a scripted flow these
     * are derived from the agent turns in the graph, so they are read-only there.
     */
    export interface AdditionalExpectation {
      id: string;

      llmPrompt: string;

      orderIndex: number;

      sourceStepNodeId: string | null;
    }
  }
}

export interface SimulationCustomerFlowVariantListResponse {
  data: Array<SimulationCustomerFlowVariantListResponse.Data>;
}

export namespace SimulationCustomerFlowVariantListResponse {
  /**
   * One way of running a flow. Exactly one variant per flow is the default; the
   * others inherit its persona and environment wherever they leave those unset. On a
   * scripted flow each variant is bound to one path through the graph and the path
   * engine owns that binding.
   */
  export interface Data {
    id: string;

    additionalExpectations: Array<Data.AdditionalExpectation>;

    /**
     * Creation timestamp in ISO 8601 format
     */
    createdAt: string;

    customerFlowId: string;

    environmentId: string | null;

    isAutoGeneratedTitle: boolean;

    isDefault: boolean;

    isGenerated: boolean;

    latestPathId: string | null;

    personaId: string | null;

    precededByCustomerFlowId: string | null;

    precededByCustomerFlowVariantId: string | null;

    title: string;

    /**
     * Last update timestamp in ISO 8601 format
     */
    updatedAt: string;

    prompt?: string | null;
  }

  export namespace Data {
    /**
     * An expectation the agent under test is graded against. On a scripted flow these
     * are derived from the agent turns in the graph, so they are read-only there.
     */
    export interface AdditionalExpectation {
      id: string;

      llmPrompt: string;

      orderIndex: number;

      sourceStepNodeId: string | null;
    }
  }
}

export interface SimulationCustomerFlowVariantDeleteResponse {
  data: SimulationCustomerFlowVariantDeleteResponse.Data;
}

export namespace SimulationCustomerFlowVariantDeleteResponse {
  export interface Data {
    /**
     * Whether the variant was deleted
     */
    deleted: boolean;
  }
}

export interface SimulationCustomerFlowVariantGetByIDResponse {
  /**
   * One way of running a flow. Exactly one variant per flow is the default; the
   * others inherit its persona and environment wherever they leave those unset. On a
   * scripted flow each variant is bound to one path through the graph and the path
   * engine owns that binding.
   */
  data: SimulationCustomerFlowVariantGetByIDResponse.Data;
}

export namespace SimulationCustomerFlowVariantGetByIDResponse {
  /**
   * One way of running a flow. Exactly one variant per flow is the default; the
   * others inherit its persona and environment wherever they leave those unset. On a
   * scripted flow each variant is bound to one path through the graph and the path
   * engine owns that binding.
   */
  export interface Data {
    id: string;

    additionalExpectations: Array<Data.AdditionalExpectation>;

    /**
     * Creation timestamp in ISO 8601 format
     */
    createdAt: string;

    customerFlowId: string;

    environmentId: string | null;

    isAutoGeneratedTitle: boolean;

    isDefault: boolean;

    isGenerated: boolean;

    latestPathId: string | null;

    personaId: string | null;

    precededByCustomerFlowId: string | null;

    precededByCustomerFlowVariantId: string | null;

    title: string;

    /**
     * Last update timestamp in ISO 8601 format
     */
    updatedAt: string;

    prompt?: string | null;
  }

  export namespace Data {
    /**
     * An expectation the agent under test is graded against. On a scripted flow these
     * are derived from the agent turns in the graph, so they are read-only there.
     */
    export interface AdditionalExpectation {
      id: string;

      llmPrompt: string;

      orderIndex: number;

      sourceStepNodeId: string | null;
    }
  }
}

export interface SimulationCustomerFlowVariantSetDefaultResponse {
  /**
   * One way of running a flow. Exactly one variant per flow is the default; the
   * others inherit its persona and environment wherever they leave those unset. On a
   * scripted flow each variant is bound to one path through the graph and the path
   * engine owns that binding.
   */
  data: SimulationCustomerFlowVariantSetDefaultResponse.Data;
}

export namespace SimulationCustomerFlowVariantSetDefaultResponse {
  /**
   * One way of running a flow. Exactly one variant per flow is the default; the
   * others inherit its persona and environment wherever they leave those unset. On a
   * scripted flow each variant is bound to one path through the graph and the path
   * engine owns that binding.
   */
  export interface Data {
    id: string;

    additionalExpectations: Array<Data.AdditionalExpectation>;

    /**
     * Creation timestamp in ISO 8601 format
     */
    createdAt: string;

    customerFlowId: string;

    environmentId: string | null;

    isAutoGeneratedTitle: boolean;

    isDefault: boolean;

    isGenerated: boolean;

    latestPathId: string | null;

    personaId: string | null;

    precededByCustomerFlowId: string | null;

    precededByCustomerFlowVariantId: string | null;

    title: string;

    /**
     * Last update timestamp in ISO 8601 format
     */
    updatedAt: string;

    prompt?: string | null;
  }

  export namespace Data {
    /**
     * An expectation the agent under test is graded against. On a scripted flow these
     * are derived from the agent turns in the graph, so they are read-only there.
     */
    export interface AdditionalExpectation {
      id: string;

      llmPrompt: string;

      orderIndex: number;

      sourceStepNodeId: string | null;
    }
  }
}

export interface SimulationCustomerFlowVariantCreateParams {
  title: string;

  environmentId?: string | null;

  isDefault?: boolean;

  personaId?: string | null;

  precededByCustomerFlowId?: string | null;

  precededByCustomerFlowVariantId?: string | null;

  prompt?: string | null;
}

export interface SimulationCustomerFlowVariantUpdateParams {
  /**
   * Path param
   */
  flowId: string;

  /**
   * Body param: Replaces the expectations that apply to this variant on top of the
   * flow's. Omit to leave them alone, send [] to clear. Unscripted flows only: a
   * scripted variant's expectations come from the agent turns on its path and are
   * rewritten on the next step edit.
   */
  additionalExpectations?: Array<SimulationCustomerFlowVariantUpdateParams.AdditionalExpectation>;

  /**
   * Body param
   */
  environmentId?: string | null;

  /**
   * Body param
   */
  personaId?: string | null;

  /**
   * Body param
   */
  precededByCustomerFlowId?: string | null;

  /**
   * Body param
   */
  precededByCustomerFlowVariantId?: string | null;

  /**
   * Body param
   */
  prompt?: string | null;

  /**
   * Body param
   */
  title?: string;
}

export namespace SimulationCustomerFlowVariantUpdateParams {
  export interface AdditionalExpectation {
    llmPrompt: string;
  }
}

export interface SimulationCustomerFlowVariantDeleteParams {
  flowId: string;
}

export interface SimulationCustomerFlowVariantGetByIDParams {
  flowId: string;
}

export interface SimulationCustomerFlowVariantSetDefaultParams {
  flowId: string;
}

export declare namespace SimulationCustomerFlowVariant {
  export {
    type SimulationCustomerFlowVariantCreateResponse as SimulationCustomerFlowVariantCreateResponse,
    type SimulationCustomerFlowVariantUpdateResponse as SimulationCustomerFlowVariantUpdateResponse,
    type SimulationCustomerFlowVariantListResponse as SimulationCustomerFlowVariantListResponse,
    type SimulationCustomerFlowVariantDeleteResponse as SimulationCustomerFlowVariantDeleteResponse,
    type SimulationCustomerFlowVariantGetByIDResponse as SimulationCustomerFlowVariantGetByIDResponse,
    type SimulationCustomerFlowVariantSetDefaultResponse as SimulationCustomerFlowVariantSetDefaultResponse,
    type SimulationCustomerFlowVariantCreateParams as SimulationCustomerFlowVariantCreateParams,
    type SimulationCustomerFlowVariantUpdateParams as SimulationCustomerFlowVariantUpdateParams,
    type SimulationCustomerFlowVariantDeleteParams as SimulationCustomerFlowVariantDeleteParams,
    type SimulationCustomerFlowVariantGetByIDParams as SimulationCustomerFlowVariantGetByIDParams,
    type SimulationCustomerFlowVariantSetDefaultParams as SimulationCustomerFlowVariantSetDefaultParams,
  };
}
